/*Text types styles*/
html {

  margin:0;
}
body {
  font-family: Esteban, Georgia, 'Times New Roman', serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 35.0999984741211px;
  text-transform: none;
  color: #DCDCDC;

  background-color: rgb(32, 32, 96);
  background-image: url("https://wallpapershome.com/images/pages/ico_h/21456.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
}
h1 {
  text-align: center;
  padding:.1em;
  padding-bottom:0;
  font-size: 2.5em;
  margin-bottom: .5em;
}
h2 {
  text-align: center;
}
h3 {
  padding-left: .5em;
  padding-top: 0;
  text-align: center;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: .25em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  height: 75%;
  width: 75%;
}


/*Row and Columns*/
.col {
  display: block;
  position: relative;
  float: left;
  width: 30%;
  height: 50%;
  margin-left:2.5%;
  background-color: rgba(0,0,0, 0.6);
  overflow: hidden;
}
.col p {
  text-align: center;
  text-indent: .5em;
  padding: 0.25em;
}
.col:hover #transparent {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.6);
}
.col:hover .gitHubBtn {
  display: block;
  width: 5em;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
}
.row:after {
  display:flex;
  align-items: center;
  margin:0;
  content: "";
  clear: both;
  width: 100%;
}

/*Buttons and Overlay*/
#transparent{
  display: none;
}
.gitHubBtn {
  display: none;
}
.overlay {
  display: block;
  position:absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  padding:0;
}
